<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
      a:link, a:visited {
      border-radius: 25px;
      background-color: #f1c40f;
      color: white;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    a:hover, a:active {
      background-color: #e67e22;
    }
    </style>
</head>
<body>
<body>
<div align="center">
    <h1>Ramkrishna Groceries</h1>
    <h3>|| Product List ||</h3>
    <a href="/new">Create New Product</a>
    <br/><br/>
    <table class="table table-hover" border="1" cellpadding="10">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Product Code</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price(in Rs.)</th>
            <th scope="col">Product GST(%)</th>
            <th scope="col">Actions</th>
            <th scope="col">Add Product</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td scope="row" th:text="${product.code}">Id</td>
            <td scope="row" th:text="${product.productCode}">Product Code</td>
            <td th:text="${product.name}">Product Name</td>
            <td th:text="${product.price}">Product Price</td>
            <td th:text="${product.gst}">Product GST</td>
            <td>
                <a th:href="@{'/edit/' + ${product.code}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${product.code}}">Delete</a>
            </td>
            <td>
                <a th:href="${'/cart/buy/' + product.code}">Buy Now</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</body>
</html>